{% extends "blogs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
      <h2 class="h4">Post Your Blog</h2>

      <p class="font-weight-light">" style="line-height: 1.6;">The blog allows you to add, edit, and delete posts, on any fields of interest. There is no limitation on the number of posts you can create. After making  creating or editing your posts, you can  choose to make your post public (publish) or private and allow or disallow comments.</p>
    
      {% if user.is_authenticated %}
        <a href="{% url 'blogs:posts' %}" class="btn btn-lg btn-primary btn-sm" role="button">Posts &raquo;</a>
      {% else %}
        <a href="{% url 'users:register' %}" class="btn btn-lg btn-primary btn-sm" role="button">Register &raquo;</a>
        <a href="{% url 'blogs:posts' %}" class="btn btn-lg btn-info btn-sm mr-auto" role="button" style="margin: 10px;">View Public Posts &raquo;</a>
      {% endif %}
  </div>

{% endblock page_header %}
