{% extends "blogs/index.html" %}

{% block page_header %}
<h4 class="h4">Blog Posts</h4>
{% endblock page_header %}

{% block content %}

    <h5 class="h5"><a href="{% url 'blogs:new_post' %}">Add a new post</a></h5>
    <p>(Click on the title to read the post)</p>
    <ul>
        {% for post in posts %}
            <li><h6>
              <a href="{% url 'blogs:post' post.id %}">{{ post }}</a>
            </h6></li>
        {% empty %}
            <li><h6 class="h6">
                You have not created any posts yet.
            </li></h6>
        {% endfor %}
    </ul>

{% endblock content %}